// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #FF5600 !default;
$header-bg-color-secondary: #8600FF !default;

// Text
$section-headings-color: #FF0096 !default;
$body-text-color: #606c71 !default;
$body-link-color: #8600FF !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #2b2b2b !default;
$code-text-color: #ffffff !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Syntax Highlight
.highlight .ge,
  .highlight .kc,
  .highlight .kd,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .k,
  .highlight .kv,
  .highlight .ow,
  .highlight .o {
    color: #fff;
  }
