// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #FF5600 !default;
$header-bg-color-secondary: #8600FF !default;

// Text
$section-headings-color: #FF0096 !default;
$body-text-color: #606c71 !default;
$body-link-color: #8600FF !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #2b2b2b !default;
$code-text-color: #ffffff !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Syntax Highlight
$base00: #282936;
$base01: #3a3c4e;
$base02: #4d4f68;
$base03: #626483;
$base04: #62d6e8;
$base05: #e9e9f4;
$base06: #f1f2f8;
$base07: #f7f7fb;
$base08: #ea51b2;
$base09: #b45bcf;
$base0a: #00f769;
$base0b: #ebff87;
$base0c: #a1efe4;
$base0d: #62d6e8;
$base0e: #b45bcf;
$base0f: #00f769;

